<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Authenticated</title>
</head>
<body>
    <%= message %> 

    <% if (typeof(lister) != "undefined") { %> 
        <div>Event Lister</div>
    <% } %> 
</body>
</html>